/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.legend {
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}
